<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Movie Recommender</h1>
    </div>
    <form id="recommendForm">
        <div class="form-group">
            <label for="movie_name">Enter movie name:</label>
            <input type="text" id="movie_name" name="movie_name" class="responsive-input" required>
        </div>
        <div class="button-group">
            <button type="button" onclick="getRecommendations()">Get Recommendations</button>
        </div>
    </form>
    <div class="recommendations-parent">
        <div id="recommendationsContainer" class="recommendations-container">
            <div id="recommendations">
                <!-- Recommendations will be dynamically updated here -->
                <h2 id="recommendationsHeading">Recommended Movies:</h2>
                <table class="recommendations-table">
                    <thead>
                        <tr>
                            <th>Movie</th>
                            <th>Similarity Score</th>
                        </tr>
                    </thead>
                    <tbody id="recommendationsTableBody">
                        <!-- Recommendations will be dynamically added here -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>  

    <footer class="fixed-footer">
        <div class="footer-content">
            <p>&copy; 2021 Rahul S Beelur</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/rahul-beelur" target="_blank">LinkedIn</a>
                <a href="https://github.com/rahulsbeelur" target="_blank">GitHub</a>
                <a href="https://rahulsbeelur.vercel.app" target="_blank">Digital Portfolio</a>
            </div>
        </div>
    </footer>
    
    <script>
        function getRecommendations() {
            var movieName = document.getElementById('movie_name').value;

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/recommend', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    // Clear previous recommendations
                    document.getElementById('recommendationsTableBody').innerHTML = "";

                    // Check if recommendations are available
                    var recommendationsContainer = document.getElementById('recommendationsContainer');
                    var recommendationsHeading = document.getElementById('recommendationsHeading');

                    if (xhr.status == 200) {
                        // Append new recommendations
                        var recommendationsTableBody = document.getElementById('recommendationsTableBody');
                        recommendationsTableBody.innerHTML = xhr.responseText;

                        // Show recommendations container and heading
                        recommendationsContainer.style.display = 'block';
                        recommendationsHeading.style.display = 'block';
                    } else {
                        // Show message when no recommendations
                        recommendationsContainer.style.display = 'none';
                        recommendationsHeading.style.display = 'none';
                        alert("No similar movies in the database.");
                    }
                }
            };
            xhr.send('movie_name=' + encodeURIComponent(movieName));
        }

        document.getElementById('recommendForm').addEventListener('submit', function (event) {
            // Prevent default form submission behavior
            event.preventDefault();
            getRecommendations();
        });
    </script>
</body>
</html>
