<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommender</title>
    <meta property="og:title" content="Movie Recommender">
    <meta property="og:description" content="Discover movie recommendations based on similarity scores. Enter a movie name and get recommendations.">
    <meta property="og:image" content="{{ url_for('static', filename='open-graph.png') }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Movie Recommender</h1>
    </div>
    <form id="recommendForm">
        <div class="form-group">
            <label for="movie_name">Enter movie name</label>
            <input type="text" id="movie_name" name="movie_name" class="responsive-input" required>
        </div>
        <div class="form-group" style="margin-top: 10px">
            <label for="num_recommendations">Number of Recommendations</label>
            <select id="num_recommendations" name="num_recommendations" style="width: 5%; display: flex; align-self: center;">
                <option value="5" selected>5</option>
                <option value="10">10</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
        </div>
        <div class="button-group">
            <button type="button" onclick="getRecommendations()" style="border-radius: 20px;" id="recommendButton" class="dim-button" disabled>Get Recommendations</button>
        </div>
    </form>
    <div class="recommendations-parent">
        <div id="recommendationsContainer" class="recommendations-container">
            <div id="recommendations">
                <h2 id="recommendationsHeading" style="text-align: center;">Recommended Movies</h2>
                <table class="recommendations-table">
                    <thead>
                        <tr>
                            <th>Movie</th>
                            <th>Similarity</th>
                        </tr>
                    </thead>
                    <tbody id="recommendationsTableBody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <footer class="fixed-footer">
        <div class="footer-content">
            <p>&copy; 2021 Rahul S Beelur</p>
            <div class="social-links">
                <a href="https://www.linkedin.com/in/rahul-beelur" target="_blank">LinkedIn</a>
                <a href="https://github.com/rahulsbeelur" target="_blank">GitHub</a>
                <a href="https://rahulsbeelur.vercel.app" target="_blank">Digital Portfolio</a>
            </div>
        </div>
    </footer>
    
    <script>
        function getRecommendations() {
            var movieName = document.getElementById('movie_name').value;
            var numRecommendations = document.getElementById('num_recommendations').value;

            if (!movieName.trim()) {
                alert("Please enter a movie name.");
                return;
            }
    
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/recommend', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    document.getElementById('recommendationsTableBody').innerHTML = "";
    
                    var recommendationsContainer = document.getElementById('recommendationsContainer');
                    var recommendationsHeading = document.getElementById('recommendationsHeading');
    
                    if (xhr.status == 200) {
                        var recommendationsTableBody = document.getElementById('recommendationsTableBody');
                        recommendationsTableBody.innerHTML = xhr.responseText;
    
                        recommendationsContainer.style.display = 'block';
                        recommendationsHeading.style.display = 'block';
                    } else {
                        recommendationsContainer.style.display = 'none';
                        recommendationsHeading.style.display = 'none';
                        alert("No similar movies in the database.");
                    }
                }
            };
            xhr.send('movie_name=' + encodeURIComponent(movieName) + '&num_recommendations=' + encodeURIComponent(numRecommendations));
        }
    
        document.getElementById('recommendForm').addEventListener('submit', function (event) {
            event.preventDefault();
            getRecommendations();
        });

        // Enable/disable the button based on user input
        document.getElementById('movie_name').addEventListener('input', function () {
            var recommendButton = document.getElementById('recommendButton');
            recommendButton.disabled = !this.value.trim();
            recommendButton.classList.toggle('dim-button', !this.value.trim());
        });
    </script>
    
</body>
</html>
